@model PoseDetailViewModel
<h2>@Model.PoseName Pose:</h2>

<!-- Add update product link -->
<a asp-action="UpdatePose" asp-controller="Pose" asp-route-id="@Model.PoseId">Update Pose</a>
<!--Add delete product link here -->
<img src="@Model.ImageUrl" alt="@Model.PoseName" height="500px">
<p><strong>Sanskrit Name:</strong> @Model.SanskritName</p>
<p><strong>Sanskrit Name Translation:</strong> @Model.TranslationOfName</p>
<p><strong>Description:</strong> @Model.PoseDescription</p>
<p><strong>Pose Benefits: </strong> @Model.PoseBenefits</p>
<p><strong>Category/s: </strong>
@if (Model.CategoryLink == null || !Model.CategoryLink.Any())
{
    @:No categories are associated with this pose yet. 
}
else
{
    @foreach (var cat in Model.CategoryLink)
    {
        <a asp-action="Details" asp-controller="Category" asp-route-id="@cat.CategoryId">@cat.CategoryName</a>
        @(cat != Model.CategoryLink.Last() ? ", " : "")
    }
}
</p>
<p><strong>Pose Difficulty:</strong>
    <a asp-action="Details" asp-controller="Difficulty" asp-route-diffId="@Model.DifficultyLink.DifficultyId">
        @Model.DifficultyLink.DifficultyName
    </a>
</p>
