@using YogaApp.Domain.Entities
@model List<AllPosesViewModel>

<h2>All Poses</h2>
<a asp-controller="Pose" asp-action="CreateNewPoseGet">Create a Pose</a>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Sanskrit Name</th>
        <th>Description</th>
        <th>Image</th>
    </tr>
    @foreach (var pose in Model)
    {
        <tr>
            <td><a asp-action="Detail" asp-controller="Pose" asp-route-id="@pose.PoseId">@pose.PoseName</a></td>
            <td>@pose.SanskritName</td>
            <td>@pose.PoseDescription</td>
            <td><img src="@pose.ThumbnailUrlSvg" alt="@pose.PoseName" style="max-height: 50px"></td>
        </tr>
    }
</table>